<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express App</title>
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <div class="navbar">
        <div class="navbar-icon">
            <a href="/">ICON</a>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-menu-items">
                <li class="navbar-menu-item">
                    <a href="/">Homepage</a>
                </li>
                <li class="navbar-menu-item">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="navbar-menu-item">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>

    {{{body}}}
</body>

</html>